<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partial/head'); %>
    <title>Pokedex</title>
</head>
<body>
    <div class="container">
        <h1>Pokedex</h1>
        <button><a href='/pokemon/new'>NEW ITEM</a></button>
        <br>
                <% for (let i = (data.length - 10); i < data.length; i++) 
                    {%>
                        <a href='/pokemon/<%= i%>'><%= data[i].name %></a>
                            <img src='<%= data[i].img %>' alt =''>
                         
                    <%} 
                %>
    </div>
</body>
</html>